html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    padding-top: 37px;
    padding-bottom: 32px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

/* SITE LOGO */
.site-logo {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 15px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 30px;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-family: 'Roboto';
    font-weight: 900;
}

.site-logo a {
    color: #555252;
}

/* SITE NAVIGATION */
.site-navigation {
    overflow: hidden;
    float: right;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #000;
    padding-right: 15px;
    padding-top: 8px;
}

.site-navigation li {
    float: left;
}

.site-navigation a {
    color: #000;
}

.site-navigation li:not(:last-child) {
    margin-right: 30px;
}

.nav-link:hover {
    color: #1abc9c;
}

.slider {
    position: relative;
    height: 600px;
    width: 1600px;
    background: url(./img/slider.png) no-repeat;
    background-size: inherit;
    margin-left: calc(-50vw + 50%);
}

.slider::before {
    content: '';
    position: absolute;
    background: #000;
    z-index: 0;
    opacity: 0.522;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text-block {
    margin: auto;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

.heading {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 60px;
    color: #fff;
    padding-top: 200px;
    margin: 0 auto;
}

.text {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    margin-top: 25px;
    transform: translateX(-8.5%);
}

.button-1 {
    width: 104px;
    height: 104px;
    background-color: #4ec6ab;
    opacity: 0.7;
    color: #fff;
    font-family: 'pe-icon-7-stroke';
    font-size: 100px;
    margin-right: 80px;
    transform: translateY(50%);
}

.button-2 {
    width: 104px;
    height: 104px;
    background-color: #4ec6ab;
    opacity: 0.7;
    color: #fff;
    font-family: 'pe-icon-7-stroke';
    font-size: 100px;
    margin-left: 80px;
    transform: translateY(50%);
}

.button-1:hover {
    opacity: 1;
}

.button-2:hover {
    opacity: 1;
}

/* COLLECTION */

.collection {
    background-color: #e9f0fd;
    background-size: 100%;
    padding-bottom: 100px;
    position: absolute;
    width: 100vw;
    left: 0;
}

.new-collection {
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 82px;
    margin: 0 auto;
}

.new-collection::after {
    display: block;
    width: 162px;
    border-bottom: 8px solid #1abc9c;
    content: '';
    margin-top: 32px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    width: 1110px;
    margin: 0 auto;
    overflow: hidden;
}

.item {
    float: left;
    width: 255px;
    margin-right: 30px;
    position: relative;
}

.item:nth-child(4) {
    margin-right: 0px;
}

.item-overlay {
    display: none;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 235px;
    height: 260px;
    color: #000;
    margin: 10px 10px;
}

.item:hover .item-overlay {
    display: block;
}
  
.item:hover .item-image {
    opacity: 0.5;
}

.icon-1 {
    font-family: 'pe-icon-7-stroke';
    font-size: 30px;
    position: absolute;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    
}

.icon-2 {
    font-family: 'pe-icon-7-stroke';
    font-size: 30px;
    position: absolute;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.icon-3 {
    font-family: 'pe-icon-7-stroke';
    font-size: 30px;
    position: absolute;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.icon-4 {
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    width: 165px;
    height: 50px;
    font-size: 14px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.icon-4::before {
    content: '';
    border: none;
    font-family: 'pe-icon-7-stroke';
    font-size: 30px;
    color: #fff;
    padding-right: 25px;
}

.item-name {
    margin: 0 auto;
    width: 201px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background-color: #515151;
    float: left;
    padding-left: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.item-price {
    float: left;
    margin: 0 auto;
    width: 54px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    color: white;
    background-color: #515151;
    opacity: 0.5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-name:hover {
    background-color: #1abc9c;
}

.item:hover .item-name {
    background-color: #1abc9c;
}

.item:hover .item-price {
    background-color: #1abc9c;
    opacity: 0.5;
}

.item-price:hover {
    background-color: #1abc9c;
}

.footer {
    display: inline;
}

