$main-font-stack: 'Roboto', sans-serif;

$primary-rose-color: #f38181;
$primary-yellow-color: #fce38a;
$primary-white-color: #ffffff;
$grey-light-color: #999999;
$grey-dark-color: #333333;
$grey-superlight-color: #e5e5e5;
$primary-blue-color: #95e1d3;

$main-text-size: 15px;